<% layout('/layouts/boilerplate.ejs') %>
<div class="row mt-3 mb-3">
  <div class="col-8 offset-2">
    <h1>Edit your listing</h1>
    <form method='POST' action='/listings/<%=listing._id%>/?_method=PUT'>
      <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input type="text" name='Listing[title]' placeholder="enter Title" class="form-control" value='<%=listing.title%>'>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea name='Listing[description]' class="form-control"><%=listing.description%></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-lable">Image Link</label>
        <input type="text" name='Listing[image]' class="form-control" placeholder="enter Image URL/Link" value='<%=listing.image%>'>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lable">Price</label>
          <input type="text" name='Listing[price]' class="form-control" placeholder="&#8377 <%= (1000).toLocaleString('en-IN') %>" value='<%=listing.price%>'>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-lable">Country</label>
          <input type="text" name='Listing[country]' class="form-control" placeholder="India" value='<%=listing.country%>'>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-lable">Location</label>
        <input type="text" name='Listing[location]' class="form-control" placeholder="Jaipur, Rajasthan" value='<%=listing.location%>'>
      </div>

      <br>

      <button class="btn btn-dark edit-btn">Edit</button>
      <br> <br>
    </form> 
  </div>
</div>
